{% extends 'base.html.twig' %}

{% block title %}Page inconnue{% endblock %}

{% block body %}

<div class="error-404">
    <h1>ERREUR 404</h1>
    <h3>La page que vous recherchez n'existe pas ou n'existe plus.</h3>
</div>
{% endblock %}
