<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; 2024 La Villa Désirée.</p>
            </div>
            <div class="col-md-6 text-md-end">
                <p>Made with 💚 by zimzim62000</p>
            </div>
        </div>
    </div>
</footer>
